.DS_Store
scintools/.DS_Store
scintools/*.pyc
scintools/__pycache__/*
scintools/__pycache__
scintools/examples/.ipynb_checkpoints/*
scintools/examples/.ipynb_checkpoints
build/
build/*
*egg*
dist/
dist/*
